:root{
    --bg:#1a1a1a;
    --font: #ffffff;
    --ligt-bg: #2b2a2a;
}
*{
    background-color: var(--bg);
    color: var(--font);
    font-family: monospace;
    font-size: x-large;
    margin: auto;
}
.content{
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
}
h1.content{
    font-size: 45px;   
    text-align: center;
}
div.content{
    background-color: var(--ligt-bg);
    border-radius: 10px;
    width: 1000px;
    padding: 10px;
}
a:link{
    text-decoration: none;
    font-size: xx-large;
    color: var(--font);
}
a:visited{
    text-decoration: none;
    color: var(--font);
}
p.content{
    position: absolute;
    bottom: 20px;
    left: 550px;
}
scramble-display{
    bottom: 10px;
    left: 10px ;
    background-color: var(--ligt-bg);
    border-radius: 10px;
    position: absolute;
}
#timer{
    text-align: center;
    font-size: 75px;
    background-color: var(--ligt-bg);
    padding: 5px;
    width: 400px;
    border-radius: 10px;
    margin-top: 15px;
}
select{
    color:white;
    background-color: var(--ligt-bg);
    padding: 10px;
    border-width: 0px;
    border-radius: 10px;
    right: 20px;
    position: relative;
}