<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Scramble</title>
</head>
<body>
    <div class="container">
        <h1>Click any of these options</h1>
        <ul class="contains_txt">
            <li><a href="full">Full Cube Scramble (3x3)</a></li>
            <li><a href="/f2l">Scramble With The Cross Solved</a></li>
            <li><a href="/ll">Last Layer Only Scramble</a></li>
        </ul>
    </div>
</body>
</html>